#main {
    background-image: url("https://user-images.githubusercontent.com/18220268/40986847-28e705a6-68b5-11e8-8301-d04df55687b4.png");
    background-size: cover;  
    background-position: center;
    background-repeat: no-repeat;
}